@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish", sans-serif;
}

.unbound {
  font-family: "Unbounded", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.dark body {
  background: #0e1624 !important;
}
.dark p {
  color: white;
}

/* remove default input color */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.roller .swiper-slide-active {
  width: 350px !important;
  height: 440px;
}
.roller .swiper-slide-prev {
  width: 230px !important;
  height: 380px;
  padding-top: 50px !important;
}
.roller .swiper-slide-next {
  width: 230px !important;
  height: 380px;
  padding-top: 50px;
}

@media (prefers-color-scheme: dark) {
  .css-14xmt93 > .ps-menu-button {
    background: #0e1624 !important;
  }
}

.css-jn69v9 {
  position: relative !important;
  top: -2px !important;
}
.css-1cuxlhl {
  position: relative !important;
  top: -2px !important;
}
.css-12w9als {
  font-size: 14px !important;
}
.react-calendar {
  border-radius: 10px;
  padding-bottom: 10px;
  border: 1.5px solid #9847fe;
}
.scroll-pro::-webkit-scrollbar {
  width: 0; /* or height: 0; for horizontal scrollbars */
  background: transparent; /* Optional: for a cleaner look */
}

@media (max-width: 380px) {
  .react-calendar {
    width: 260px;
  }
}
@media (prefers-color-scheme: dark) {
  .react-calendar__tile:disabled {
    background: #443f3f !important;
    color: #a58686 !important;
  }
}
.css-1t8x7v1 >.ps-menu-button{
  padding: 0px 20px 0px 0px !important;
}

.css-16jesut >.ps-menu-button{
  padding: 0px 20px 0px 0px !important;
}

/* swipper switch duration */
.swiper-wrapper {
  transition-duration: 1000ms !important;
}

.drop-ani {
  animation: drops 0.7s ease-in-out;
}
@keyframes drops {
  0% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
.drop-width {
  animation: dropWidth 0.7s ease-in-out;
}
@keyframes dropWidth {
  0% {
    width: 30%;
  }
  100% {
    width: 100%;
  }
}

.up-width {
  animation: dropUp 0.7s ease-in-out;
}
@keyframes dropUp {
  0% {
    width: 100%;
  }
  100% {
    width: 30%;
  }
}

@layer components {
  /* container settings */
  .box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .box {
      width: 540px;
    }
  }

  @media (min-width: 768px) {
    .box {
      width: 720px;
    }
  }

  @media (min-width: 958px) {
    .box {
      width: 880px;
    }
  }

  @media (min-width: 992px) {
    .box {
      width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .box {
      width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .box {
      width: 1360px;
    }
  }

  @media (min-width: 1600px) {
    .box {
      width: 1460px;
    }
  }

  .section {
    padding: 80px 0px;
  }

  @media (max-width: 1000px) {
    .section {
      padding: 60px 0px;
    }
  }

  .fw-200 {
    font-weight: 200;
  }

  .fw-300 {
    font-weight: 300;
  }

  .fw-400 {
    font-weight: 400;
  }

  .fw-500 {
    font-weight: 500;
  }

  .fw-600 {
    font-weight: 600;
  }

  .fw-700 {
    font-weight: 700;
  }

  .fw-800 {
    font-weight: 800;
  }

  .fw-900 {
    font-weight: 900;
  }

  .fs-400 {
    font-size: 14px;
  }

  .fs-00 {
    font-size: 10px;
  }

  .fs-100 {
    font-size: 11px;
  }

  .fs-200 {
    font-size: 12px;
  }

  .fs-300 {
    font-size: 13px;
  }

  .fs-500 {
    font-size: 15px;
  }

  .fs-600 {
    font-size: 16px;
  }

  .fs-700 {
    font-size: 17px;
  }

  .fs-800 {
    font-size: 18px;
  }

  .circle {
    border-radius: 50%;
  }

  .text-pri {
    color: #e4b080;
  }

  .bg-secondary {
    background: #fc819f;
  }

  .text-primary {
    color: #6817fc;
  }

  .bg-primary {
    background: #6817fc;
  }

  .bg-pri {
    background: #feb470;
  }

  .bg-light {
    background: #f1f1f1;
  }

  .bg-fit {
    background-size: 100% 100%;
  }

  .bg-gradient{
    background: linear-gradient(94.42deg, #6f0aff 0.92%, #1d9cd7 101.98%);
  }

  .btn-primary {
    background: linear-gradient(94.42deg, #6f0aff 0.92%, #1d9cd7 101.98%);
    color: white;
    font-weight: 500;
    border-radius: 9px;
    cursor: pointer;
  }

  .btn-black {
    background: #161616;
    color: white;
    font-weight: 500;
    border-radius: 50px;
  }
  .btn-int {
    background: #6817fc;
    color: white;
    font-weight: 500;
    border-radius: 6.75px;
  }
  .btn-disabled {
    background: #11182795;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  }

  .btn-primary:hover,
  .btn-like:hover {
    background: #1d9cd7;
    transform: scaleX(1.02);
    transition: 0.6s;
  }

  .btn-feel:hover {
    background: #9847fe;
    transform: scaleX(1.02);
    transition: 0.6s;
    color: #fff;
  }

  .btn-feel {
    border-radius: 1000px;
    background: #f3e8ff;
    color: #291946;
    font-weight: 500;
    cursor: pointer;
  }

  .btn-like {
    background: #111827;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
  }

  .place-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auth-gradient {
    background: linear-gradient(180deg, #6f0aff 0%, #061842 100%),
      url("https://res.cloudinary.com/do2kojulq/image/upload/v1728556519/WE%20Immersive/153f82.png_ndlksg.png");
  }
  .auth-gradient-bg {
    background: url("https://res.cloudinary.com/do2kojulq/image/upload/v1728557312/WE%20Immersive/153f82.png_1_gmpy5i.png");
  }

  .form-shadow {
    box-shadow: 0px 4px 28px 0px #0000001a;
  }


  .div-shadow {
    box-shadow: 0px 12px 33.4px 0px #00000024;
  }

  .exp-gradient-bg {
    background: url("https://res.cloudinary.com/do2kojulq/image/upload/v1728557312/WE%20Immersive/153f82.png_1_gmpy5i.png");
  }

  .cover-gradient {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 73.1%,
      rgba(0, 0, 0, 0.75) 79.75%
    );
  }

  .store-banner{
    background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.6)), url("https://res.cloudinary.com/do2kojulq/image/upload/v1729163186/WE%20Immersive/bg-hero_1_1_g0s4rv.png");
  }

  .asset-banner{
    background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.6)), url("https://res.cloudinary.com/do2kojulq/image/upload/v1729699058/WE%20Immersive/cubes_jnb1fg.png");
  }
  .jobs-banner{
    background: url("https://res.cloudinary.com/do2kojulq/image/upload/v1731318409/image_pciho5.png");
  }

   .learn-banner{
    background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.6)), url("https://res.cloudinary.com/do2kojulq/image/upload/v1730293565/WE%20Immersive/learn_1_odmix3.png");
  }

  .bg-contact-1{
    background: linear-gradient(180deg, #1D9CD7 0%, #206B8E 100%);
  }
  .bg-contact-2{
    background: linear-gradient(180deg, #E8F8FF 0%, #F5FAFF 100%);
  }
  .bg-contact-3{
    background: linear-gradient(180deg, #6F0AFF 0%, #6F32C7 100%);
  }

  .auth-shadow{
    box-shadow: 0px 4px 10px 2px #0000000D;
  }

  .btn-shadow{
    box-shadow: 0px 4px 28px 0px #0000001A;
  }

  .box-drop{
    box-shadow: 0px 2px 20px 5px #0523BC08;
  }

  .active-class {
    background-color: #242EF21A;
    border-left:3px solid #242EF2;
  }
  .ps-menu-button .ps-active {
    padding-left: 0 !important;
  }
}
